# KNN Model Exercises

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from prepare import titanic_pipeline

Found your sauce my bro
Found your sauce my bro
Found your sauce my bro

- Create a new notebook, knn_model, and work with the titanic dataset to answer the following:

## 1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)

In [2]:
train, val, test = titanic_pipeline()
train.head(2)

Found your sauce my bro

,survived,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0,19.0,1,0,53.10,0,1,1,0,0,0,0,1
45,0,29.0,0,0,8.05,1,1,0,0,1,0,0,1

In [3]:
def xy_split(df):
    
    return df.drop(columns = ['survived']), df.survived

In [4]:
X_train, y_train = xy_split(train)
X_val, y_val = xy_split(val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

In [5]:
# weights = ['uniform', 'distance']
knn = KNeighborsClassifier(n_neighbors=5)

In [6]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [7]:
y_pred = knn.predict(X_train)
y_pred[:5]

array([1, 0, 1, 0, 0])

## 2. Evaluate your results using the model score, confusion matrix, and classification report.

In [8]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

print('Accuracy of KNN classifier on validation set: {:.2f}'
     .format(knn.score(X_val, y_val)))

Accuracy of KNN classifier on training set: 0.81
Accuracy of KNN classifier on validation set: 0.70

In [9]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       339        45
Survived    75       164

In [10]:
report = classification_report(y_train, y_pred)

In [11]:
print(report)

              precision    recall  f1-score   support

           0       0.82      0.88      0.85       384
           1       0.78      0.69      0.73       239

    accuracy                           0.81       623
   macro avg       0.80      0.78      0.79       623
weighted avg       0.81      0.81      0.80       623

## 3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [12]:
def knn_1_metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [13]:
print('KNN Model 1 Metrics Calculations:\n\n')
model1 = knn_1_metrics(164, 339, 45, 75)
model1

KNN Model 1 Metrics Calculations:

                Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00

_________________________________________________

## Model 2 (Transformation on knn model 1)

In [14]:
mms = MinMaxScaler()

X_train[['age', 'fare']] = mms.fit_transform(X_train[['age', 'fare']])
X_val[['age', 'fare']] = mms.transform(X_val[['age', 'fare']])

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0.233476,1,0,0.103644,0,1,1,0,0,0,0,1
45,0.359135,0,0,0.015713,1,1,0,0,1,0,0,1
28,0.359135,0,0,0.015379,1,0,0,0,1,0,1,0
633,0.359135,0,0,0.000000,1,1,1,0,0,0,0,1
403,0.346569,1,0,0.030937,0,1,0,0,1,0,0,1

In [15]:
X_train_short = X_train.iloc[:, :-5]
X_val_short = X_val.iloc[:, :-5]

X_train_short.head()

          age  sibsp  parch      fare  alone  sex_male  class_First
748  0.233476      1      0  0.103644      0         1            1
45   0.359135      0      0  0.015713      1         1            0
28   0.359135      0      0  0.015379      1         0            0
633  0.359135      0      0  0.000000      1         1            1
403  0.346569      1      0  0.030937      0         1            0

In [16]:
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train_short, y_train)

knn.score(X_train_short, y_train), knn.score(X_val_short, y_val)

(0.8330658105939005, 0.8731343283582089)

In [17]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       339        45
Survived    75       164

In [18]:
report = classification_report(y_train, y_pred)

In [19]:
print(report)

              precision    recall  f1-score   support

           0       0.82      0.88      0.85       384
           1       0.78      0.69      0.73       239

    accuracy                           0.81       623
   macro avg       0.80      0.78      0.79       623
weighted avg       0.81      0.81      0.80       623

In [20]:
def knn_2_metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [21]:
print('Metrics Calculations:\n\n')
model2 = knn_2_metrics(164, 339, 45, 75)
model2

Metrics Calculations:

                Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00

## 4. Run through steps 1-3 setting k to 10

In [22]:
train, val, test = titanic_pipeline()
train.head(2)

Found your sauce my bro

,survived,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0,19.0,1,0,53.10,0,1,1,0,0,0,0,1
45,0,29.0,0,0,8.05,1,1,0,0,1,0,0,1

In [23]:
def xy_split(df):
    
    return df.drop(columns = ['survived']), df.survived

In [24]:
X_train, y_train = xy_split(train)
X_val, y_val = xy_split(val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

In [25]:
# weights = ['uniform', 'distance']
knn = KNeighborsClassifier(n_neighbors=10)

In [26]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [27]:
y_pred = knn.predict(X_train)
y_pred[:5]

array([1, 0, 1, 0, 0])

- Evaluate your results using the model score, confusion matrix, and classification report.

In [28]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

print('Accuracy of KNN classifier on validation set: {:.2f}'
     .format(knn.score(X_val, y_val)))

Accuracy of KNN classifier on training set: 0.76
Accuracy of KNN classifier on validation set: 0.72

In [29]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       343        41
Survived   106       133

In [30]:
report = classification_report(y_train, y_pred)

In [31]:
print(report)

              precision    recall  f1-score   support

           0       0.76      0.89      0.82       384
           1       0.76      0.56      0.64       239

    accuracy                           0.76       623
   macro avg       0.76      0.72      0.73       623
weighted avg       0.76      0.76      0.75       623

In [32]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

print('Accuracy of KNN classifier on validation set: {:.2f}'
     .format(knn.score(X_val, y_val)))

Accuracy of KNN classifier on training set: 0.76
Accuracy of KNN classifier on validation set: 0.72

In [33]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       343        41
Survived   106       133

In [34]:
report = classification_report(y_train, y_pred)

In [35]:
print(report)

              precision    recall  f1-score   support

           0       0.76      0.89      0.82       384
           1       0.76      0.56      0.64       239

    accuracy                           0.76       623
   macro avg       0.76      0.72      0.73       623
weighted avg       0.76      0.76      0.75       623

- Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [36]:
def knn_3_metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [37]:
print('Metrics Calculations:\n\n')
model3 = knn_3_metrics(133, 343, 41, 106)
model3

Metrics Calculations:

                Metric   Value
0             Accuracy   76.40
1               Recall   55.65
2   True Positive Rate   55.65
3  False Positive Rate   10.68
4   True Negative Rate   89.32
5  False Negative Rate   44.35
6            Precision   76.44
7             F1-Score   64.41
8          Support (0)  239.00
9          Support (1)  384.00

_________________________________________________

## Model 4 (Transformation on knn model 2)

In [38]:
mms = MinMaxScaler()

X_train[['age', 'fare']] = mms.fit_transform(X_train[['age', 'fare']])
X_val[['age', 'fare']] = mms.transform(X_val[['age', 'fare']])

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0.233476,1,0,0.103644,0,1,1,0,0,0,0,1
45,0.359135,0,0,0.015713,1,1,0,0,1,0,0,1
28,0.359135,0,0,0.015379,1,0,0,0,1,0,1,0
633,0.359135,0,0,0.000000,1,1,1,0,0,0,0,1
403,0.346569,1,0,0.030937,0,1,0,0,1,0,0,1

In [39]:
X_train_short = X_train.iloc[:, :-5]
X_val_short = X_val.iloc[:, :-5]

X_train_short.head()

          age  sibsp  parch      fare  alone  sex_male  class_First
748  0.233476      1      0  0.103644      0         1            1
45   0.359135      0      0  0.015713      1         1            0
28   0.359135      0      0  0.015379      1         0            0
633  0.359135      0      0  0.000000      1         1            1
403  0.346569      1      0  0.030937      0         1            0

In [40]:
knn = KNeighborsClassifier(n_neighbors=10)

knn.fit(X_train_short, y_train)

knn.score(X_train_short, y_train), knn.score(X_val_short, y_val)

(0.8234349919743178, 0.8208955223880597)

In [41]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       343        41
Survived   106       133

In [42]:
report = classification_report(y_train, y_pred)

In [43]:
print(report)

              precision    recall  f1-score   support

           0       0.76      0.89      0.82       384
           1       0.76      0.56      0.64       239

    accuracy                           0.76       623
   macro avg       0.76      0.72      0.73       623
weighted avg       0.76      0.76      0.75       623

In [44]:
def knn_4_metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [45]:
print('Metrics Calculations:\n\n')
model4 = knn_4_metrics(164, 339, 45, 75)
model4

Metrics Calculations:

                Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00

In [46]:
X_train_short = X_train.iloc[:, :-5]
X_val_short = X_val.iloc[:, :-5]

X_train_short.head()

          age  sibsp  parch      fare  alone  sex_male  class_First
748  0.233476      1      0  0.103644      0         1            1
45   0.359135      0      0  0.015713      1         1            0
28   0.359135      0      0  0.015379      1         0            0
633  0.359135      0      0  0.000000      1         1            1
403  0.346569      1      0  0.030937      0         1            0

## 5. Run through steps 1-3 setting k to 20

In [47]:
train, val, test = titanic_pipeline()
train.head(2)

Found your sauce my bro

,survived,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0,19.0,1,0,53.10,0,1,1,0,0,0,0,1
45,0,29.0,0,0,8.05,1,1,0,0,1,0,0,1

In [48]:
def xy_split(df):
    
    return df.drop(columns = ['survived']), df.survived

In [49]:
X_train, y_train = xy_split(train)
X_val, y_val = xy_split(val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

In [50]:
# weights = ['uniform', 'distance']
knn = KNeighborsClassifier(n_neighbors=20)

In [51]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=20)

In [52]:
y_pred = knn.predict(X_train)
y_pred[:5]

array([1, 0, 1, 0, 0])

- Evaluate your results using the model score, confusion matrix, and classification report.

In [53]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

print('Accuracy of KNN classifier on validation set: {:.2f}'
     .format(knn.score(X_val, y_val)))

Accuracy of KNN classifier on training set: 0.74
Accuracy of KNN classifier on validation set: 0.75

In [54]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       344        40
Survived   125       114

In [55]:
report = classification_report(y_train, y_pred)

In [56]:
print(report)

              precision    recall  f1-score   support

           0       0.73      0.90      0.81       384
           1       0.74      0.48      0.58       239

    accuracy                           0.74       623
   macro avg       0.74      0.69      0.69       623
weighted avg       0.74      0.74      0.72       623

- Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [57]:
def knn_5_metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [58]:
print('Metrics Calculations:\n\n')
model5 = knn_5_metrics(114, 344, 40, 125)
model5

Metrics Calculations:

                Metric   Value
0             Accuracy   73.52
1               Recall   47.70
2   True Positive Rate   47.70
3  False Positive Rate   10.42
4   True Negative Rate   89.58
5  False Negative Rate   52.30
6            Precision   74.03
7             F1-Score   58.02
8          Support (0)  239.00
9          Support (1)  384.00

_________________________________________________

## Transformation on knn model 3

In [59]:
train, val, test = titanic_pipeline()
train.head(2)

Found your sauce my bro

,survived,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0,19.0,1,0,53.10,0,1,1,0,0,0,0,1
45,0,29.0,0,0,8.05,1,1,0,0,1,0,0,1

In [60]:
def xy_split(df):
    
    return df.drop(columns = ['survived']), df.survived

In [61]:
X_train, y_train = xy_split(train)
X_val, y_val = xy_split(val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

In [62]:
# weights = ['uniform', 'distance']
knn = KNeighborsClassifier(n_neighbors=5)

In [63]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [64]:
y_pred = knn.predict(X_train)
y_pred[:5]

array([1, 0, 1, 0, 0])

- Evaluate your results using the model score, confusion matrix, and classification report.

In [65]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

print('Accuracy of KNN classifier on validation set: {:.2f}'
     .format(knn.score(X_val, y_val)))

Accuracy of KNN classifier on training set: 0.81
Accuracy of KNN classifier on validation set: 0.70

In [66]:
mms = MinMaxScaler()

X_train[['age', 'fare']] = mms.fit_transform(X_train[['age', 'fare']])
X_val[['age', 'fare']] = mms.transform(X_val[['age', 'fare']])

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0.233476,1,0,0.103644,0,1,1,0,0,0,0,1
45,0.359135,0,0,0.015713,1,1,0,0,1,0,0,1
28,0.359135,0,0,0.015379,1,0,0,0,1,0,1,0
633,0.359135,0,0,0.000000,1,1,1,0,0,0,0,1
403,0.346569,1,0,0.030937,0,1,0,0,1,0,0,1

In [67]:
X_train_short = X_train.iloc[:, :-5]
X_val_short = X_val.iloc[:, :-5]

X_train_short.head()

          age  sibsp  parch      fare  alone  sex_male  class_First
748  0.233476      1      0  0.103644      0         1            1
45   0.359135      0      0  0.015713      1         1            0
28   0.359135      0      0  0.015379      1         0            0
633  0.359135      0      0  0.000000      1         1            1
403  0.346569      1      0  0.030937      0         1            0

In [68]:
knn = KNeighborsClassifier(n_neighbors=20)

knn.fit(X_train_short, y_train)

knn.score(X_train_short, y_train), knn.score(X_val_short, y_val)

(0.812199036918138, 0.8134328358208955)

In [69]:
y_train = train.survived

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Died', 1: 'Survived'}, index={0: 'Died', 1: 'Survived'}, inplace=True,)

model

          Died  Survived
Died       339        45
Survived    75       164

In [70]:
report = classification_report(y_train, y_pred)

In [71]:
print(report)

              precision    recall  f1-score   support

           0       0.82      0.88      0.85       384
           1       0.78      0.69      0.73       239

    accuracy                           0.81       623
   macro avg       0.80      0.78      0.79       623
weighted avg       0.81      0.81      0.80       623

- Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [72]:
def knn_6_metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [73]:
print('Metrics Calculations:\n\n')
model6 = knn_6_metrics(164, 339, 45, 75)
model6

Metrics Calculations:

                Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00

## 6. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

 ### - From the classification reports below we can see that metrics do better with a smaller k-number assigned. We also can see from our models accuracy rates that increasing k-numbers prior to applying transformation and feature engineering to our in-sample data tends to get worse. Model 1 performed better on the in-sample data. Model 1 uses a lower value of k in the K-Nearest Neighbors algorithm, which makes it more flexible and able to capture intricate patterns in the training data, but the increased flexibility might also cause it to overfit the training data, leading to the lower performance on the validation set. Models 3 and 5, used higher values of k, have less flexibility and are more resistant to overfitting, which is why they perform better on the validation set.

 ### - After generating 3 more models and comparing them, then the best performance on in-sample data becomes model 2 due to feature engineering and transforming features in the datasets. Model 2 uses a lower value of k (k=5) in the K-Nearest Neighbors algorithm, which allows it to capture intricate patterns in the training data. The lower value of k makes the model more flexible and potentially better suited to learning from the transformed/feature engineered data.

#### Accuracy Scores (Non-Transformed):


  - **Model 1 (k=5):**
            
  Accuracy of KNN classifier on training set: **0.81**<br>
  Accuracy of KNN classifier on validation set: **0.70**
            
  - **Model 3 (K=10):**
            
  Accuracy of KNN classifier on training set: **0.76**<br>
  Accuracy of KNN classifier on validation set: **0.72**
            
  - **Model 5 (K=20):**
            
  Accuracy of KNN classifier on training set: **0.74**<br>
  Accuracy of KNN classifier on validation set: **0.75**
<br>
<br>
<br>
#### Accuracy Scores (Transformed):


  - **Model 2 (k=5): (best performance)**
            
  Accuracy of KNN classifier on training set: **0.83**<br>
  Accuracy of KNN classifier on validation set: **0.87**
            
            
  - **Model 4 (k=10):**
            
  Accuracy of KNN classifier on training set: **0.82**<br>
  Accuracy of KNN classifier on validation set: **0.82**
            
            
  - **Model 6 (k=20):**
            
  Accuracy of KNN classifier on training set: **0.81**<br>
  Accuracy of KNN classifier on validation set: **0.81**

In [74]:
print('Non-Transformed:\n\n\n', model1, '\n\n\n', model3, '\n\n\n', model5, '\n\n\n')
print('Transformed:\n\n\n', model2, '\n\n\n', model5, '\n\n\n', model6)

Non-Transformed:


                 Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00


                 Metric   Value
0             Accuracy   76.40
1               Recall   55.65
2   True Positive Rate   55.65
3  False Positive Rate   10.68
4   True Negative Rate   89.32
5  False Negative Rate   44.35
6            Precision   76.44
7             F1-Score   64.41
8          Support (0)  239.00
9          Support (1)  384.00


                 Metric   Value
0             Accuracy   73.52
1               Recall   47.70
2   True Positive Rate   47.70
3  False Positive Rate   10.42
4   True Negative Rate   89.58
5  False Negative Rate   52.30
6            Precision   74.03
7             F1-Score   58.02
8          Support (0)  239.00
9          Support (1)  384.00



Transformed:


                 Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00


                 Metric   Value
0             Accuracy   73.52
1               Recall   47.70
2   True Positive Rate   47.70
3  False Positive Rate   10.42
4   True Negative Rate   89.58
5  False Negative Rate   52.30
6            Precision   74.03
7             F1-Score   58.02
8          Support (0)  239.00
9          Support (1)  384.00


                 Metric   Value
0             Accuracy   80.74
1               Recall   68.62
2   True Positive Rate   68.62
3  False Positive Rate   11.72
4   True Negative Rate   88.28
5  False Negative Rate   31.38
6            Precision   78.47
7             F1-Score   73.22
8          Support (0)  239.00
9          Support (1)  384.00

## 7. Which model performs best on our out-of-sample data from validate?

#### - Out of all the models, model 2 performed best on out-of-sample data. in summary k=5 strikes a balance between capturing intricate patterns in the training data and generalizing well to the validation set.