# Random Forests Exercises

In [1]:
### libs/mods
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from prepare import titanic_pipeline

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Found your sauce my bro
Found your sauce my bro
Found your sauce my bro

In [2]:
seed = 42

In [3]:
train, val, test = titanic_pipeline()
train.head(), val.head()

Found your sauce my bro

(     survived   age  sibsp  parch     fare  alone  sex_male  class_First  \
 748         0  19.0      1      0  53.1000      0         1            1
 45          0  29.0      0      0   8.0500      1         1            0
 28          1  29.0      0      0   7.8792      1         0            0
 633         0  29.0      0      0   0.0000      1         1            1
 403         0  28.0      1      0  15.8500      0         1            0

      class_Second  class_Third  embark_town_Cherbourg  embark_town_Queenstown  \
 748             0            0                      0                       0
 45              0            1                      0                       0
 28              0            1                      0                       1
 633             0            0                      0                       0
 403             0            1                      0                       0

      embark_town_Southampton
 748                        1
 45                         1
 28                         0
 633                        1
 403                        1  ,
      survived   age  sibsp  parch     fare  alone  sex_male  class_First  \
 377         0  27.0      0      2  211.500      0         1            1
 244         0  30.0      0      0    7.225      1         1            0
 72          0  21.0      0      0   73.500      1         1            0
 815         0  29.0      0      0    0.000      1         1            1
 841         0  16.0      0      0   10.500      1         1            0

      class_Second  class_Third  embark_town_Cherbourg  embark_town_Queenstown  \
 377             0            0                      1                       0
 244             0            1                      1                       0
 72              1            0                      0                       0
 815             0            0                      0                       0
 841             1            0                      0                       0

      embark_town_Southampton
 377                        0
 244                        0
 72                         1
 815                        1
 841                        1  )

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [4]:
def create_subset(df):
    
    X = df.drop(columns=input())

    y = df.survived

    return X, y

X_train, y_train = create_subset(train)
X_val, y_val = create_subset(val)

 survived
 survived

In [5]:
X_train.head(1)

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1,0,1,1,0,0,0,0,1

In [6]:
X_val.head(1)

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
377,27.0,0,2,211.5,0,1,1,0,0,1,0,0

In [7]:
y_train.head(1)

748    0
Name: survived, dtype: int64

In [8]:
y_val.head(1)

377    0
Name: survived, dtype: int64

In [9]:
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

In [10]:
b = y_train.mode()

In [11]:
(y_train == 0).mean()

0.6163723916532905

In [12]:
rf = RandomForestClassifier(min_samples_leaf = 1, max_depth = 10, random_state=42)

rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=42)

In [13]:
# make prediction on train obeservations
y_pred = rf.predict(X_train)
y_pred[:5]

array([0, 0, 1, 0, 0])

In [14]:
rf.score(X_train, y_train)

0.9550561797752809

In [15]:
rf.score(X_val, y_val)

0.835820895522388

In [16]:
rf.feature_importances_

array([0.20767773, 0.0430202 , 0.04426742, 0.22951798, 0.02117759,
       0.30397329, 0.03444031, 0.01558843, 0.05865353, 0.0145766 ,
       0.00820258, 0.01890435])

In [17]:
fi = pd.DataFrame({'feature': X_train.columns,
              'importance': rf.feature_importances_})

fi.sort_values(by = 'importance', ascending = False)

                    feature  importance
5                  sex_male    0.303973
3                      fare    0.229518
0                       age    0.207678
8               class_Third    0.058654
2                     parch    0.044267
1                     sibsp    0.043020
6               class_First    0.034440
4                     alone    0.021178
11  embark_town_Southampton    0.018904
7              class_Second    0.015588
9     embark_town_Cherbourg    0.014577
10   embark_town_Queenstown    0.008203

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [18]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.96
Accuracy of Random Forest classifier on validation set: 0.84

In [19]:
y_train = train.survived

import pandas as pd

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Dead', 1: 'Survived'}, index={0: 'Dead', 1: 'Survived'}, inplace=True,)

model

          Dead  Survived
Dead       380         4
Survived    24       215

In [20]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96       384
           1       0.98      0.90      0.94       239

    accuracy                           0.96       623
   macro avg       0.96      0.94      0.95       623
weighted avg       0.96      0.96      0.95       623

3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [21]:
data = {
    '': ['Actual Positive', 'Actual Negative'] ,
    'Predicted Positive': ['True Positive (TP)', 'False Positive (FP)'],
    'Predicted Negative': ['False Negative (FN)', 'True Negative (TN)'],
}
rubric = pd.DataFrame(data)
rubric.set_index('', inplace=True)

rubric

                  Predicted Positive   Predicted Negative

Actual Positive   True Positive (TP)  False Negative (FN)
Actual Negative  False Positive (FP)   True Negative (TN)

In [22]:
accuracy = '(TP + TN) /	(TP + TN + FP + FN)'
recall = 'TP / (TP + FN)'
true_positive_rate = 'TP / (TP + FN)'
false_positive_rate = 'FP / (FP + TN)'
true_negative_rate = 'TN / (TN + FP)'
false_negative_rate = 'FN / (FN + TP)'
precision = 'TP / (TP + FP)'
f1_score = '2 * (precision * recall) / (precision + recall)'
support = 'TP + FN'
# Create a pandas DataFrame for the metrics
data = {
    'Metric': ['Accuracy', 'Recall', 'True positive Rate' ,'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support'],
    'Value': [accuracy, recall, true_positive_rate ,false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support]
}
metrics = pd.DataFrame(data)

metrics

                Metric                                            Value
0             Accuracy                 (TP + TN) /\t(TP + TN + FP + FN)
1               Recall                                   TP / (TP + FN)
2   True positive Rate                                   TP / (TP + FN)
3  False Positive Rate                                   FP / (FP + TN)
4   True Negative Rate                                   TN / (TN + FP)
5  False Negative Rate                                   FN / (FN + TP)
6            Precision                                   TP / (TP + FP)
7             F1-Score  2 * (precision * recall) / (precision + recall)
8              Support                                          TP + FN

In [23]:
model

          Dead  Survived
Dead       380         4
Survived    24       215

In [24]:
# My calculations

accuracy = round((215 + 379) / (215 + 379 + 5 + 24) * 100, 2)

recall = round((215 / (215 + 24)) * 100,  2)

true_positive_rate = round((215 / (215 + 24)) * 100, 2)

false_positive_rate = round((5 / (5 + 379)) * 100, 2)

true_negative_rate = round((379 / (379 + 5)) * 100, 2)

false_negative_rate = round((24 / (24 + 215)) * 100, 2)

precision = round((215 / (215 + 5)) * 100, 2)

f1_score = round(2 * (precision * recall) / (precision + recall), 2)

support_pos = 215 + 24

support_neg = 5 + 379

In [25]:
print(f'accuracy:', accuracy, '\nrecall:', recall, '\ntrue_positive_rate:', true_positive_rate, '\nfalse_positive_rate:', false_positive_rate, '\ntrue_negative_rate', true_negative_rate, '\nfalse_negative_rate:', false_negative_rate, '\nprecision:', precision, '\nf1_score:', f1_score, '\nsupport (0):', support_pos, '\nsupport (-):', support_neg)

accuracy: 95.35
recall: 89.96
true_positive_rate: 89.96
false_positive_rate: 1.3
true_negative_rate 98.7
false_negative_rate: 10.04
precision: 97.73
f1_score: 93.68
support (0): 239
support (-): 384

In [26]:
# Instructors method to calculate metrics

#.ravel returns a contigious array
TN, FP, FN, TP = confusion_matrix(y_train, y_pred).ravel()
TN, FP, FN, TP


# accuracy
ALL = TP + FP + FN + TN
acc = (TP + TN) / ALL
print(f"Accuracy: {round(acc*100, 2)}")

# true positive rate, also recall
TPR = recall = TP/ (TP + FN)
print(f"True Positive Rate: {round(TPR*100, 2)}")

# false positive rate
FPR = FP / (FP + TN)
print(f"False Positive Rate: {round(FPR*100, 2)}")

# true negative rate
TNR = TN / (TN + FP)
print(f"True Negative Rate: {round(TNR*100, 2)}")

# false negative rate
FNR = FN / (FN + TP)
print(f"False Negative Rate: {round(FNR*100, 2)}")

# precision
precision = TP / (TP + FP)
print(f"Precision: {round(precision*100, 2)}")

# f1
f1_score = 2 * (precision*recall) / (precision+recall)
print(f"F1 score: {round(f1_score*100, 2)}")

# support
support_pos = TP + FN
print(f"Support (0): {support_pos}")

support_neg = FP + TN
print(f"Support (1): {support_neg}")

Accuracy: 95.51
True Positive Rate: 89.96
False Positive Rate: 1.04
True Negative Rate: 98.96
False Negative Rate: 10.04
Precision: 98.17
F1 score: 93.89
Support (0): 239
Support (1): 384

In [27]:
# theo's function to calculate metrics

def metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [28]:
metrics(215, 379, 5, 24)

                Metric   Value
0             Accuracy   95.35
1               Recall   89.96
2   True Positive Rate   89.96
3  False Positive Rate    1.30
4   True Negative Rate   98.70
5  False Negative Rate   10.04
6            Precision   97.73
7             F1-Score   93.68
8          Support (0)  239.00
9          Support (1)  384.00

4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

    -   use a for loop

In [29]:
for i in reversed(range(2, 6)):
    
    for n in (range(1, 6)):
        
        forest = RandomForestClassifier(min_samples_leaf=n, max_depth=i, random_state=42)
        forest = forest.fit(X_train, y_train)
        y_predictions = forest.predict(X_train)
        report = classification_report(y_train, y_predictions, output_dict=True)

        print(f'Tree with max depth of {i}', '\n\n\n')
        print(f'Minimum samples leaf of {n}', '\n')
        print(pd.DataFrame(report).T)
        print('\n\n')

Tree with max depth of 5



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.848131  0.945312  0.894089  384.000000
1              0.892308  0.728033  0.801843  239.000000
accuracy       0.861958  0.861958  0.861958    0.861958
macro avg      0.870219  0.836673  0.847966  623.000000
weighted avg   0.865078  0.861958  0.858701  623.000000



Tree with max depth of 5



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.849412  0.940104  0.892460  384.000000
1              0.883838  0.732218  0.800915  239.000000
accuracy       0.860353  0.860353  0.860353    0.860353
macro avg      0.866625  0.836161  0.846688  623.000000
weighted avg   0.862619  0.860353  0.857341  623.000000



Tree with max depth of 5



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.847059  0.937500  0.889988  384.000000
1              0.878788  0.728033  0.796339  239.000000
accuracy       0.857143  0.857143  0.857143    0.857143
macro avg      0.862923  0.832767  0.843163  623.000000
weighted avg   0.859231  0.857143  0.854061  623.000000



Tree with max depth of 5



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.839907  0.942708  0.888344  384.000000
1              0.885417  0.711297  0.788863  239.000000
accuracy       0.853933  0.853933  0.853933    0.853933
macro avg      0.862662  0.827003  0.838603  623.000000
weighted avg   0.857366  0.853933  0.850180  623.000000



Tree with max depth of 5



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.836406  0.945312  0.887531  384.000000
1              0.888889  0.702929  0.785047  239.000000
accuracy       0.852327  0.852327  0.852327    0.852327
macro avg      0.862647  0.824121  0.836289  623.000000
weighted avg   0.856540  0.852327  0.848215  623.000000



Tree with max depth of 4



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.816777  0.963542  0.884110  384.000000
1              0.917647  0.652720  0.762836  239.000000
accuracy       0.844302  0.844302  0.844302    0.844302
macro avg      0.867212  0.808131  0.823473  623.000000
weighted avg   0.855474  0.844302  0.837586  623.000000



Tree with max depth of 4



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.818584  0.963542  0.885167  384.000000
1              0.918129  0.656904  0.765854  239.000000
accuracy       0.845907  0.845907  0.845907    0.845907
macro avg      0.868356  0.810223  0.825511  623.000000
weighted avg   0.856772  0.845907  0.839395  623.000000



Tree with max depth of 4



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.825000  0.945312  0.881068  384.000000
1              0.885246  0.677824  0.767773  239.000000
accuracy       0.842697  0.842697  0.842697    0.842697
macro avg      0.855123  0.811568  0.824420  623.000000
weighted avg   0.848112  0.842697  0.837605  623.000000



Tree with max depth of 4



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.829157  0.947917  0.884569  384.000000
1              0.891304  0.686192  0.775414  239.000000
accuracy       0.847512  0.847512  0.847512    0.847512
macro avg      0.860231  0.817055  0.829991  623.000000
weighted avg   0.852999  0.847512  0.842694  623.000000



Tree with max depth of 4



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.815145  0.953125  0.878752  384.000000
1              0.896552  0.652720  0.755448  239.000000
accuracy       0.837881  0.837881  0.837881    0.837881
macro avg      0.855848  0.802922  0.817100  623.000000
weighted avg   0.846375  0.837881  0.831449  623.000000



Tree with max depth of 3



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.811111  0.950521  0.875300  384.000000
1              0.890173  0.644351  0.747573  239.000000
accuracy       0.833066  0.833066  0.833066    0.833066
macro avg      0.850642  0.797436  0.811436  623.000000
weighted avg   0.841442  0.833066  0.826300  623.000000



Tree with max depth of 3



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.807947  0.953125  0.874552  384.000000
1              0.894118  0.635983  0.743276  239.000000
accuracy       0.831461  0.831461  0.831461    0.831461
macro avg      0.851032  0.794554  0.808914  623.000000
weighted avg   0.841004  0.831461  0.824191  623.000000



Tree with max depth of 3



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.807947  0.953125  0.874552  384.000000
1              0.894118  0.635983  0.743276  239.000000
accuracy       0.831461  0.831461  0.831461    0.831461
macro avg      0.851032  0.794554  0.808914  623.000000
weighted avg   0.841004  0.831461  0.824191  623.000000



Tree with max depth of 3



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.811530  0.953125  0.876647  384.000000
1              0.895349  0.644351  0.749392  239.000000
accuracy       0.834671  0.834671  0.834671    0.834671
macro avg      0.853439  0.798738  0.813019  623.000000
weighted avg   0.843685  0.834671  0.827828  623.000000



Tree with max depth of 3



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.809735  0.953125  0.875598  384.000000
1              0.894737  0.640167  0.746341  239.000000
accuracy       0.833066  0.833066  0.833066    0.833066
macro avg      0.852236  0.796646  0.810970  623.000000
weighted avg   0.842344  0.833066  0.826012  623.000000



Tree with max depth of 2



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.777083  0.971354  0.863426  384.000000
1              0.923077  0.552301  0.691099  239.000000
accuracy       0.810594  0.810594  0.810594    0.810594
macro avg      0.850080  0.761828  0.777263  623.000000
weighted avg   0.833091  0.810594  0.797317  623.000000



Tree with max depth of 2



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.777083  0.971354  0.863426  384.000000
1              0.923077  0.552301  0.691099  239.000000
accuracy       0.810594  0.810594  0.810594    0.810594
macro avg      0.850080  0.761828  0.777263  623.000000
weighted avg   0.833091  0.810594  0.797317  623.000000



Tree with max depth of 2



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.777083  0.971354  0.863426  384.000000
1              0.923077  0.552301  0.691099  239.000000
accuracy       0.810594  0.810594  0.810594    0.810594
macro avg      0.850080  0.761828  0.777263  623.000000
weighted avg   0.833091  0.810594  0.797317  623.000000



Tree with max depth of 2



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.776618  0.968750  0.862109  384.000000
1              0.916667  0.552301  0.689295  239.000000
accuracy       0.808989  0.808989  0.808989    0.808989
macro avg      0.846642  0.760526  0.775702  623.000000
weighted avg   0.830345  0.808989  0.795813  623.000000



Tree with max depth of 2



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.776618  0.968750  0.862109  384.000000
1              0.916667  0.552301  0.689295  239.000000
accuracy       0.808989  0.808989  0.808989    0.808989
macro avg      0.846642  0.760526  0.775702  623.000000
weighted avg   0.830345  0.808989  0.795813  623.000000

In [30]:
seed = 42
train_accuracy = []
val_accuracy = []
depth = []
samples = []

for i in reversed(range(2, 6)):

    for n in range(1, 6):

        rf = RandomForestClassifier(min_samples_leaf=n, max_depth=i, random_state = seed)
    
        rf.fit(X_train, y_train)
    
        depth.append(i)
    
        samples.append(n)
    
        train_accuracy.append(rf.score(X_train, y_train))
    
        val_accuracy.append(rf.score(X_val, y_val))

In [31]:
r_forest = pd.DataFrame({'min_samples_leaf' : samples,
                        'train_accuracy' : train_accuracy,
                        'val_accuracy' : val_accuracy,
                        'max_depth' : depth,})
r_forest

    min_samples_leaf  train_accuracy  val_accuracy  max_depth
0                  1        0.861958      0.828358          5
1                  2        0.860353      0.828358          5
2                  3        0.857143      0.820896          5
3                  4        0.853933      0.843284          5
4                  5        0.852327      0.843284          5
5                  1        0.844302      0.828358          4
6                  2        0.845907      0.828358          4
7                  3        0.842697      0.835821          4
8                  4        0.847512      0.835821          4
9                  5        0.837881      0.835821          4
10                 1        0.833066      0.835821          3
11                 2        0.831461      0.835821          3
12                 3        0.831461      0.835821          3
13                 4        0.834671      0.835821          3
14                 5        0.833066      0.835821          3
15                 1        0.810594      0.820896          2
16                 2        0.810594      0.820896          2
17                 3        0.810594      0.820896          2
18                 4        0.808989      0.820896          2
19                 5        0.808989      0.820896          2

5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?<br>

In [32]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.81
Accuracy of Random Forest classifier on validation set: 0.82

## Adam direcetd:

In [33]:
param_grid = {
    'max_depth': range(2, 22),
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(RandomForestClassifier(random_state=seed), param_grid, cv=5)
grid_search.fit(X_train, y_train)

rf = grid_search.best_estimator_

print(param_grid, '\n\n')
print(rf)

{'max_depth': range(2, 22), 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4]}


RandomForestClassifier(max_depth=8, min_samples_leaf=4, min_samples_split=10,
                       random_state=42)

In [34]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.87
Accuracy of Random Forest classifier on validation set: 0.84

<br>After making a few models, which one has the best performance (or closest metrics) on both train and validate?
    - write in markdown

###    **Takeaway(Conclusion):**
I generated 20 models when i incremented the depth and decremented the min_samples. I found that when the min_sample leaf reached 1 and the max_depth reached 5 the model generalized well and performed best when calling the accuracy rate for both train and validate.

GridSearchCV did better and slightly improved.