# Random Forests Exercises

In [1]:
### libs/mods
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from prepare import titanic_pipeline

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Found your sauce my bro
Found your sauce my bro
Found your sauce my bro

In [2]:
seed = 42

In [3]:
train, val, test = titanic_pipeline()
train.head()

Found your sauce my bro

,survived,pclass,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0,1,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,0,3,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,1,3,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,0,1,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,0,3,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [4]:
def create_subset(df):
    
    X = df.drop(columns=input())

    y = df.survived

    return X, y

X_train, y_train = create_subset(train)
X_val, y_val = create_subset(val)

 survived
 survived

In [5]:
X_train.head(1)

,pclass,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,1,19.0,1,0,53.1,0,1,1,0,0,0,0,1

In [6]:
X_val.head(1)

,pclass,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
377,1,27.0,0,2,211.5,0,1,1,0,0,1,0,0

In [7]:
y_train.head(1)

748    0
Name: survived, dtype: int64

In [8]:
y_val.head(1)

377    0
Name: survived, dtype: int64

In [9]:
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)

X_train.head()

,pclass,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,1,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,3,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,3,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,1,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,3,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

In [10]:
b = y_train.mode()

In [11]:
(y_train == 0).mean()

0.6163723916532905

In [12]:
rf = RandomForestClassifier(min_samples_leaf = 1, max_depth = 10, random_state=42)

rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=42)

In [13]:
# make prediction on train obeservations
y_pred = rf.predict(X_train)
y_pred[:5]

array([0, 0, 1, 0, 0])

In [14]:
rf.score(X_train, y_train)

0.9550561797752809

In [15]:
rf.score(X_val, y_val)

0.8283582089552238

In [16]:
rf.feature_importances_

array([0.04241047, 0.21594148, 0.04266434, 0.04057794, 0.22308856,
       0.01898828, 0.2998072 , 0.02786642, 0.01103472, 0.03562175,
       0.01476307, 0.00896189, 0.01827389])

In [17]:
fi = pd.DataFrame({'feature': X_train.columns,
              'importance': rf.feature_importances_})

fi.sort_values(by = 'importance', ascending = False)

                    feature  importance
6                  sex_male    0.299807
4                      fare    0.223089
1                       age    0.215941
2                     sibsp    0.042664
0                    pclass    0.042410
3                     parch    0.040578
9               class_Third    0.035622
7               class_First    0.027866
5                     alone    0.018988
12  embark_town_Southampton    0.018274
10    embark_town_Cherbourg    0.014763
8              class_Second    0.011035
11   embark_town_Queenstown    0.008962

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [18]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.96
Accuracy of Random Forest classifier on validation set: 0.83

In [19]:
y_train = train.survived

import pandas as pd

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Dead', 1: 'Survived'}, index={0: 'Dead', 1: 'Survived'}, inplace=True,)

model

          Dead  Survived
Dead       380         4
Survived    24       215

In [20]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96       384
           1       0.98      0.90      0.94       239

    accuracy                           0.96       623
   macro avg       0.96      0.94      0.95       623
weighted avg       0.96      0.96      0.95       623

3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [21]:
data = {
    '': ['Actual Positive', 'Actual Negative'] ,
    'Predicted Positive': ['True Positive (TP)', 'False Positive (FP)'],
    'Predicted Negative': ['False Negative (FN)', 'True Negative (TN)'],
}
rubric = pd.DataFrame(data)
rubric.set_index('', inplace=True)

rubric

                  Predicted Positive   Predicted Negative

Actual Positive   True Positive (TP)  False Negative (FN)
Actual Negative  False Positive (FP)   True Negative (TN)

In [22]:
accuracy = '(TP + TN) /	(TP + TN + FP + FN)'
recall = 'TP / (TP + FN)'
true_positive_rate = 'TP / (TP + FN)'
false_positive_rate = 'FP / (FP + TN)'
true_negative_rate = 'TN / (TN + FP)'
false_negative_rate = 'FN / (FN + TP)'
precision = 'TP / (TP + FP)'
f1_score = '2 * (precision * recall) / (precision + recall)'
support = 'TP + FN'
# Create a pandas DataFrame for the metrics
data = {
    'Metric': ['Accuracy', 'Recall', 'True positive Rate' ,'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support'],
    'Value': [accuracy, recall, true_positive_rate ,false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support]
}
metrics = pd.DataFrame(data)

metrics

                Metric                                            Value
0             Accuracy                 (TP + TN) /\t(TP + TN + FP + FN)
1               Recall                                   TP / (TP + FN)
2   True positive Rate                                   TP / (TP + FN)
3  False Positive Rate                                   FP / (FP + TN)
4   True Negative Rate                                   TN / (TN + FP)
5  False Negative Rate                                   FN / (FN + TP)
6            Precision                                   TP / (TP + FP)
7             F1-Score  2 * (precision * recall) / (precision + recall)
8              Support                                          TP + FN

In [23]:
model

          Dead  Survived
Dead       380         4
Survived    24       215

In [24]:
# My calculations

accuracy = round((215 + 379) / (215 + 379 + 5 + 24) * 100, 2)

recall = round((215 / (215 + 24)) * 100,  2)

true_positive_rate = round((215 / (215 + 24)) * 100, 2)

false_positive_rate = round((5 / (5 + 379)) * 100, 2)

true_negative_rate = round((379 / (379 + 5)) * 100, 2)

false_negative_rate = round((24 / (24 + 215)) * 100, 2)

precision = round((215 / (215 + 5)) * 100, 2)

f1_score = round(2 * (precision * recall) / (precision + recall), 2)

support_pos = 215 + 24

support_neg = 5 + 379

In [25]:
print(f'accuracy:', accuracy, '\nrecall:', recall, '\ntrue_positive_rate:', true_positive_rate, '\nfalse_positive_rate:', false_positive_rate, '\ntrue_negative_rate', true_negative_rate, '\nfalse_negative_rate:', false_negative_rate, '\nprecision:', precision, '\nf1_score:', f1_score, '\nsupport (0):', support_pos, '\nsupport (-):', support_neg)

accuracy: 95.35
recall: 89.96
true_positive_rate: 89.96
false_positive_rate: 1.3
true_negative_rate 98.7
false_negative_rate: 10.04
precision: 97.73
f1_score: 93.68
support (0): 239
support (-): 384

In [26]:
# Instructors method to calculate metrics

#.ravel returns a contigious array
TN, FP, FN, TP = confusion_matrix(y_train, y_pred).ravel()
TN, FP, FN, TP


# accuracy
ALL = TP + FP + FN + TN
acc = (TP + TN) / ALL
print(f"Accuracy: {round(acc*100, 2)}")

# true positive rate, also recall
TPR = recall = TP/ (TP + FN)
print(f"True Positive Rate: {round(TPR*100, 2)}")

# false positive rate
FPR = FP / (FP + TN)
print(f"False Positive Rate: {round(FPR*100, 2)}")

# true negative rate
TNR = TN / (TN + FP)
print(f"True Negative Rate: {round(TNR*100, 2)}")

# false negative rate
FNR = FN / (FN + TP)
print(f"False Negative Rate: {round(FNR*100, 2)}")

# precision
precision = TP / (TP + FP)
print(f"Precision: {round(precision*100, 2)}")

# f1
f1_score = 2 * (precision*recall) / (precision+recall)
print(f"F1 score: {round(f1_score*100, 2)}")

# support
support_pos = TP + FN
print(f"Support (0): {support_pos}")

support_neg = FP + TN
print(f"Support (1): {support_neg}")

Accuracy: 95.51
True Positive Rate: 89.96
False Positive Rate: 1.04
True Negative Rate: 98.96
False Negative Rate: 10.04
Precision: 98.17
F1 score: 93.89
Support (0): 239
Support (1): 384

In [27]:
# theo's function to calculate metrics

def metrics(TP, TN, FP, FN):
    accuracy = round((TP + TN) / (TP + TN + FP + FN) * 100, 2)
    recall = round(TP / (TP + FN) * 100, 2)
    true_positive_rate = round(TP / (TP + FN) * 100, 2)
    false_positive_rate = round(FP / (FP + TN) *100, 2)
    true_negative_rate = round(TN / (TN + FP) * 100, 2)
    false_negative_rate = round(FN / (FN + TP) * 100, 2)
    precision = round(TP / (TP + FP) * 100, 2)
    f1_score = round((2 * (precision * recall) / (precision + recall)), 2)
    support_neg = TP + FN
    support_pos = FP + TN
    data = {
        'Metric': ['Accuracy', 'Recall', 'True Positive Rate', 'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support (0)', 'Support (1)'],
        'Value': [accuracy, recall, true_positive_rate, false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support_neg, support_pos]
    }
    metrics = pd.DataFrame(data, index=None)
    return metrics

In [28]:
metrics(215, 379, 5, 24)

                Metric   Value
0             Accuracy   95.35
1               Recall   89.96
2   True Positive Rate   89.96
3  False Positive Rate    1.30
4   True Negative Rate   98.70
5  False Negative Rate   10.04
6            Precision   97.73
7             F1-Score   93.68
8          Support (0)  239.00
9          Support (1)  384.00

4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

    -   use a for loop

In [29]:
for i in reversed(range(2, 6)):
    
    for n in (range(1, 6)):
        
        forest = RandomForestClassifier(min_samples_leaf=n, max_depth=i, random_state=42)
        forest = forest.fit(X_train, y_train)
        y_predictions = forest.predict(X_train)
        report = classification_report(y_train, y_predictions, output_dict=True)

        print(f'Tree with max depth of {i}', '\n\n\n')
        print(f'Minimum samples leaf of {n}', '\n')
        print(pd.DataFrame(report).T)
        print('\n\n')

Tree with max depth of 5



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.844186  0.945312  0.891892  384.000000
1              0.891192  0.719665  0.796296  239.000000
accuracy       0.858748  0.858748  0.858748    0.858748
macro avg      0.867689  0.832489  0.844094  623.000000
weighted avg   0.862219  0.858748  0.855219  623.000000



Tree with max depth of 5



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.834101  0.942708  0.885086  384.000000
1              0.883598  0.698745  0.780374  239.000000
accuracy       0.849117  0.849117  0.849117    0.849117
macro avg      0.858850  0.820727  0.832730  623.000000
weighted avg   0.853090  0.849117  0.844915  623.000000



Tree with max depth of 5



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.840278  0.945312  0.889706  384.000000
1              0.890052  0.711297  0.790698  239.000000
accuracy       0.855538  0.855538  0.855538    0.855538
macro avg      0.865165  0.828305  0.840202  623.000000
weighted avg   0.859373  0.855538  0.851724  623.000000



Tree with max depth of 5



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.838785  0.934896  0.884236  384.000000
1              0.871795  0.711297  0.783410  239.000000
accuracy       0.849117  0.849117  0.849117    0.849117
macro avg      0.855290  0.823096  0.833823  623.000000
weighted avg   0.851449  0.849117  0.845557  623.000000



Tree with max depth of 5



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.832947  0.934896  0.880982  384.000000
1              0.869792  0.698745  0.774942  239.000000
accuracy       0.844302  0.844302  0.844302    0.844302
macro avg      0.851369  0.816820  0.827962  623.000000
weighted avg   0.847081  0.844302  0.840302  623.000000



Tree with max depth of 4



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.831818  0.953125  0.888350  384.000000
1              0.901639  0.690377  0.781991  239.000000
accuracy       0.852327  0.852327  0.852327    0.852327
macro avg      0.866729  0.821751  0.835170  623.000000
weighted avg   0.858604  0.852327  0.847547  623.000000



Tree with max depth of 4



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.832579  0.958333  0.891041  384.000000
1              0.911602  0.690377  0.785714  239.000000
accuracy       0.855538  0.855538  0.855538    0.855538
macro avg      0.872091  0.824355  0.838378  623.000000
weighted avg   0.862895  0.855538  0.850635  623.000000



Tree with max depth of 4



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.826577  0.955729  0.886473  384.000000
1              0.905028  0.677824  0.775120  239.000000
accuracy       0.849117  0.849117  0.849117    0.849117
macro avg      0.865802  0.816777  0.830797  623.000000
weighted avg   0.856673  0.849117  0.843755  623.000000



Tree with max depth of 4



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.823928  0.950521  0.882709  384.000000
1              0.894444  0.673640  0.768496  239.000000
accuracy       0.844302  0.844302  0.844302    0.844302
macro avg      0.859186  0.812081  0.825603  623.000000
weighted avg   0.850980  0.844302  0.838894  623.000000



Tree with max depth of 4



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.822472  0.953125  0.882992  384.000000
1              0.898876  0.669456  0.767386  239.000000
accuracy       0.844302  0.844302  0.844302    0.844302
macro avg      0.860674  0.811291  0.825189  623.000000
weighted avg   0.851783  0.844302  0.838642  623.000000



Tree with max depth of 3



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.812918  0.950521  0.876351  384.000000
1              0.890805  0.648536  0.750605  239.000000
accuracy       0.834671  0.834671  0.834671    0.834671
macro avg      0.851861  0.799528  0.813478  623.000000
weighted avg   0.842797  0.834671  0.828111  623.000000



Tree with max depth of 3



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.810155  0.955729  0.876941  384.000000
1              0.900000  0.640167  0.748166  239.000000
accuracy       0.834671  0.834671  0.834671    0.834671
macro avg      0.855077  0.797948  0.812554  623.000000
weighted avg   0.844622  0.834671  0.827540  623.000000



Tree with max depth of 3



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.809735  0.953125  0.875598  384.000000
1              0.894737  0.640167  0.746341  239.000000
accuracy       0.833066  0.833066  0.833066    0.833066
macro avg      0.852236  0.796646  0.810970  623.000000
weighted avg   0.842344  0.833066  0.826012  623.000000



Tree with max depth of 3



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.809211  0.960938  0.878571  384.000000
1              0.910180  0.635983  0.748768  239.000000
accuracy       0.836276  0.836276  0.836276    0.836276
macro avg      0.859695  0.798460  0.813670  623.000000
weighted avg   0.847945  0.836276  0.828775  623.000000



Tree with max depth of 3



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.805252  0.958333  0.875149  384.000000
1              0.903614  0.627615  0.740741  239.000000
accuracy       0.831461  0.831461  0.831461    0.831461
macro avg      0.854433  0.792974  0.807945  623.000000
weighted avg   0.842986  0.831461  0.823586  623.000000



Tree with max depth of 2



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.761134  0.979167  0.856492  384.000000
1              0.937984  0.506276  0.657609  239.000000
accuracy       0.797753  0.797753  0.797753    0.797753
macro avg      0.849559  0.742721  0.757050  623.000000
weighted avg   0.828978  0.797753  0.780195  623.000000



Tree with max depth of 2



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.761134  0.979167  0.856492  384.000000
1              0.937984  0.506276  0.657609  239.000000
accuracy       0.797753  0.797753  0.797753    0.797753
macro avg      0.849559  0.742721  0.757050  623.000000
weighted avg   0.828978  0.797753  0.780195  623.000000



Tree with max depth of 2



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.761134  0.979167  0.856492  384.000000
1              0.937984  0.506276  0.657609  239.000000
accuracy       0.797753  0.797753  0.797753    0.797753
macro avg      0.849559  0.742721  0.757050  623.000000
weighted avg   0.828978  0.797753  0.780195  623.000000



Tree with max depth of 2



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.763747  0.976562  0.857143  384.000000
1              0.931818  0.514644  0.663073  239.000000
accuracy       0.799358  0.799358  0.799358    0.799358
macro avg      0.847783  0.745603  0.760108  623.000000
weighted avg   0.828224  0.799358  0.782692  623.000000



Tree with max depth of 2



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.763747  0.976562  0.857143  384.000000
1              0.931818  0.514644  0.663073  239.000000
accuracy       0.799358  0.799358  0.799358    0.799358
macro avg      0.847783  0.745603  0.760108  623.000000
weighted avg   0.828224  0.799358  0.782692  623.000000

In [30]:
seed = 42
train_accuracy = []
val_accuracy = []
depth = []
samples = []

for i in reversed(range(2, 6)):

    for n in range(1, 6):

        rf = RandomForestClassifier(min_samples_leaf=n, max_depth=i, random_state = seed)
    
        rf.fit(X_train, y_train)
    
        depth.append(i)
    
        samples.append(n)
    
        train_accuracy.append(rf.score(X_train, y_train))
    
        val_accuracy.append(rf.score(X_val, y_val))

In [31]:
r_forest = pd.DataFrame({'min_samples_leaf' : samples,
                        'train_accuracy' : train_accuracy,
                        'val_accuracy' : val_accuracy,
                        'max_depth' : depth,})
r_forest

    min_samples_leaf  train_accuracy  val_accuracy  max_depth
0                  1        0.858748      0.820896          5
1                  2        0.849117      0.820896          5
2                  3        0.855538      0.828358          5
3                  4        0.849117      0.820896          5
4                  5        0.844302      0.835821          5
5                  1        0.852327      0.835821          4
6                  2        0.855538      0.843284          4
7                  3        0.849117      0.843284          4
8                  4        0.844302      0.843284          4
9                  5        0.844302      0.843284          4
10                 1        0.834671      0.828358          3
11                 2        0.834671      0.828358          3
12                 3        0.833066      0.835821          3
13                 4        0.836276      0.835821          3
14                 5        0.831461      0.828358          3
15                 1        0.797753      0.828358          2
16                 2        0.797753      0.828358          2
17                 3        0.797753      0.828358          2
18                 4        0.799358      0.828358          2
19                 5        0.799358      0.828358          2

5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?<br>

In [32]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.80
Accuracy of Random Forest classifier on validation set: 0.83

## Adam directed:

In [33]:
param_grid = {
    'max_depth': range(2, 22),
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(RandomForestClassifier(random_state=seed), param_grid, cv=5)
grid_search.fit(X_train, y_train)

rf = grid_search.best_estimator_

print(param_grid, '\n\n')
print(rf)

{'max_depth': range(2, 22), 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4]}


RandomForestClassifier(max_depth=8, random_state=42)

In [34]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.93
Accuracy of Random Forest classifier on validation set: 0.84

<br>After making a few models, which one has the best performance (or closest metrics) on both train and validate?
    - write in markdown

###    **Takeaway(Conclusion):**
I generated 20 models when i incremented the depth and decremented the min_samples. I found that when the min_sample leaf reached 1 and the max_depth reached 5 the model generalized well and performed best when calling the accuracy rate for both train and validate.

GridSearchCV did better and slightly improved.