# Random Forests Exercises

In [1]:
### libs/mods
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from prepare import titanic_pipeline

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Found your sauce my bro
Found your sauce my bro
Found your sauce my bro

In [2]:
seed = 42

In [3]:
train, val, test = titanic_pipeline()
train.head(), val.head()

Found your sauce my bro

(     survived     sex   age  sibsp  parch     fare  class  embark_town  alone
 748         0    male  19.0      1      0  53.1000  First  Southampton      0
 45          0    male  29.0      0      0   8.0500  Third  Southampton      1
 28          1  female  29.0      0      0   7.8792  Third   Queenstown      1
 633         0    male  29.0      0      0   0.0000  First  Southampton      1
 403         0    male  28.0      1      0  15.8500  Third  Southampton      0,
      survived   sex   age  sibsp  parch     fare   class  embark_town  alone
 377         0  male  27.0      0      2  211.500   First    Cherbourg      0
 244         0  male  30.0      0      0    7.225   Third    Cherbourg      1
 72          0  male  21.0      0      0   73.500  Second  Southampton      1
 815         0  male  29.0      0      0    0.000   First  Southampton      1
 841         0  male  16.0      0      0   10.500  Second  Southampton      1)

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [4]:
def create_subset(df):
    
    X = df.drop(columns=input())

    y = df.survived

    return X, y

X_train, y_train = create_subset(train)
X_val, y_val = create_subset(val)

 survived
 survived

In [5]:
X_train.head(1)

      sex   age  sibsp  parch  fare  class  embark_town  alone
748  male  19.0      1      0  53.1  First  Southampton      0

In [6]:
X_val.head(1)

      sex   age  sibsp  parch   fare  class embark_town  alone
377  male  27.0      0      2  211.5  First   Cherbourg      0

In [7]:
y_train.head(1)

748    0
Name: survived, dtype: int64

In [8]:
y_val.head(1)

377    0
Name: survived, dtype: int64

In [9]:
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,0,1,1,0,0,0,0,1
45,29.0,0,0,8.0500,1,0,1,0,0,1,0,0,1
28,29.0,0,0,7.8792,1,1,0,0,0,1,0,1,0
633,29.0,0,0,0.0000,1,0,1,1,0,0,0,0,1
403,28.0,1,0,15.8500,0,0,1,0,0,1,0,0,1

In [10]:
b = y_train.mode()

In [11]:
(y_train == 0).mean()

0.6163723916532905

In [12]:
rf = RandomForestClassifier(min_samples_leaf = 1, max_depth = 10, random_state=42)

rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=42)

In [13]:
# make prediction on train obeservations
y_pred = rf.predict(X_train)
y_pred[:5]

array([0, 0, 1, 0, 0])

In [14]:
rf.score(X_train, y_train)

0.9534510433386838

In [15]:
rf.score(X_val, y_val)

0.8507462686567164

In [16]:
rf.feature_importances_

array([0.20389338, 0.0405496 , 0.04136837, 0.22309533, 0.01848827,
       0.15315337, 0.17900005, 0.03284527, 0.01810089, 0.05069173,
       0.0153856 , 0.00812321, 0.01530492])

In [17]:
fi = pd.DataFrame({'feature': X_train.columns,
              'importance': rf.feature_importances_})

fi.sort_values(by = 'importance', ascending = False)

                    feature  importance
3                      fare    0.223095
0                       age    0.203893
6                  sex_male    0.179000
5                sex_female    0.153153
9               class_Third    0.050692
2                     parch    0.041368
1                     sibsp    0.040550
7               class_First    0.032845
4                     alone    0.018488
8              class_Second    0.018101
10    embark_town_Cherbourg    0.015386
12  embark_town_Southampton    0.015305
11   embark_town_Queenstown    0.008123

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [18]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.95
Accuracy of Random Forest classifier on validation set: 0.85

In [19]:
y_train = train.survived

import pandas as pd

labels = sorted(y_train.unique())

model = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

model.rename(
    columns={0: 'Dead', 1: 'Survived'}, index={0: 'Dead', 1: 'Survived'}, inplace=True,)

model

          Dead  Survived
Dead       379         5
Survived    24       215

In [20]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96       384
           1       0.98      0.90      0.94       239

    accuracy                           0.95       623
   macro avg       0.96      0.94      0.95       623
weighted avg       0.95      0.95      0.95       623

3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [21]:
data = {
    '': ['Actual Positive', 'Actual Negative'] ,
    'Predicted Positive': ['True Positive (TP)', 'False Positive (FP)'],
    'Predicted Negative': ['False Negative (FN)', 'True Negative (TN)'],
}
rubric = pd.DataFrame(data)
rubric.set_index('', inplace=True)

rubric

                  Predicted Positive   Predicted Negative

Actual Positive   True Positive (TP)  False Negative (FN)
Actual Negative  False Positive (FP)   True Negative (TN)

In [22]:
accuracy = '(TP + TN) /	(TP + TN + FP + FN)'
recall = 'TP / (TP + FN)'
true_positive_rate = 'TP / (TP + FN)'
false_positive_rate = 'FP / (FP + TN)'
true_negative_rate = 'TN / (TN + FP)'
false_negative_rate = 'FN / (FN + TP)'
precision = 'TP / (TP + FP)'
f1_score = '2 * (precision * recall) / (precision + recall)'
support = 'TP + FN'
# Create a pandas DataFrame for the metrics
data = {
    'Metric': ['Accuracy', 'Recall', 'True positive Rate' ,'False Positive Rate', 'True Negative Rate', 'False Negative Rate', 'Precision', 'F1-Score', 'Support'],
    'Value': [accuracy, recall, true_positive_rate ,false_positive_rate, true_negative_rate, false_negative_rate, precision, f1_score, support]
}
metrics = pd.DataFrame(data)

metrics

                Metric                                            Value
0             Accuracy                 (TP + TN) /\t(TP + TN + FP + FN)
1               Recall                                   TP / (TP + FN)
2   True positive Rate                                   TP / (TP + FN)
3  False Positive Rate                                   FP / (FP + TN)
4   True Negative Rate                                   TN / (TN + FP)
5  False Negative Rate                                   FN / (FN + TP)
6            Precision                                   TP / (TP + FP)
7             F1-Score  2 * (precision * recall) / (precision + recall)
8              Support                                          TP + FN

In [23]:
model

          Dead  Survived
Dead       379         5
Survived    24       215

In [24]:
accuracy = np.round((215 + 379) / (215 + 379 + 5 + 24), 2)

recall = np.round(215 / (215 + 24), 4)

true_positive_rate = np.round(215 / (215 + 24), 2)

false_positive_rate = np.round(5 / (5 + 379), 3)

true_negative_rate = np.round(379 / (379 + 5), 2)

false_negative_rate = np.round(24 / (24 + 215), 4)

precision = np.round(215 / (215 + 5), 2)

f1_score = np.round(2 * (precision * recall) / (precision + recall), 2)

support_pos = 215 + 379

support_neg = 215 - 379

In [25]:
print(f'accuracy:', accuracy, '\nrecall:', recall, '\ntrue_positive_rate:', true_positive_rate, '\nfalse_positive_rate:', false_positive_rate, '\ntrue_negative_rate', true_negative_rate, '\nfalse_negative_rate:', false_negative_rate, '\nprecision:', precision, '\nf1_score:', f1_score, '\nsupport (0):', support_pos, '\nsupport (-):', support_neg)

accuracy: 0.95
recall: 0.8996
true_positive_rate: 0.9
false_positive_rate: 0.013
true_negative_rate 0.99
false_negative_rate: 0.1004
precision: 0.98
f1_score: 0.94
support (0): 594
support (-): -164

4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

    -   use a for loop

In [26]:
for i in reversed(range(2, 6)):
    
    for n in (range(1, 6)):
        
        forest = RandomForestClassifier(min_samples_leaf=n, max_depth=i, random_state=42)
        forest = forest.fit(X_train, y_train)
        y_predictions = forest.predict(X_train)
        report = classification_report(y_train, y_predictions, output_dict=True)

        print(f'Tree with max depth of {i}', '\n\n\n')
        print(f'Minimum samples leaf of {n}', '\n')
        print(pd.DataFrame(report).T)
        print('\n\n')

Tree with max depth of 5



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.840749  0.934896  0.885327  384.000000
1              0.872449  0.715481  0.786207  239.000000
accuracy       0.850722  0.850722  0.850722    0.850722
macro avg      0.856599  0.825189  0.835767  623.000000
weighted avg   0.852910  0.850722  0.847302  623.000000



Tree with max depth of 5



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.840749  0.934896  0.885327  384.000000
1              0.872449  0.715481  0.786207  239.000000
accuracy       0.850722  0.850722  0.850722    0.850722
macro avg      0.856599  0.825189  0.835767  623.000000
weighted avg   0.852910  0.850722  0.847302  623.000000



Tree with max depth of 5



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.838785  0.934896  0.884236  384.000000
1              0.871795  0.711297  0.783410  239.000000
accuracy       0.849117  0.849117  0.849117    0.849117
macro avg      0.855290  0.823096  0.833823  623.000000
weighted avg   0.851449  0.849117  0.845557  623.000000



Tree with max depth of 5



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.838785  0.934896  0.884236  384.000000
1              0.871795  0.711297  0.783410  239.000000
accuracy       0.849117  0.849117  0.849117    0.849117
macro avg      0.855290  0.823096  0.833823  623.000000
weighted avg   0.851449  0.849117  0.845557  623.000000



Tree with max depth of 5



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.838028  0.929688  0.881481  384.000000
1              0.862944  0.711297  0.779817  239.000000
accuracy       0.845907  0.845907  0.845907    0.845907
macro avg      0.850486  0.820492  0.830649  623.000000
weighted avg   0.847587  0.845907  0.842480  623.000000



Tree with max depth of 4



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.838095  0.916667  0.875622  384.000000
1              0.842365  0.715481  0.773756  239.000000
accuracy       0.839486  0.839486  0.839486    0.839486
macro avg      0.840230  0.816074  0.824689  623.000000
weighted avg   0.839733  0.839486  0.836543  623.000000



Tree with max depth of 4



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.838095  0.916667  0.875622  384.000000
1              0.842365  0.715481  0.773756  239.000000
accuracy       0.839486  0.839486  0.839486    0.839486
macro avg      0.840230  0.816074  0.824689  623.000000
weighted avg   0.839733  0.839486  0.836543  623.000000



Tree with max depth of 4



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.834906  0.921875  0.876238  384.000000
1              0.849246  0.707113  0.771689  239.000000
accuracy       0.839486  0.839486  0.839486    0.839486
macro avg      0.842076  0.814494  0.823964  623.000000
weighted avg   0.840407  0.839486  0.836130  623.000000



Tree with max depth of 4



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.833729  0.914062  0.872050  384.000000
1              0.836634  0.707113  0.766440  239.000000
accuracy       0.834671  0.834671  0.834671    0.834671
macro avg      0.835181  0.810588  0.819245  623.000000
weighted avg   0.834843  0.834671  0.831535  623.000000



Tree with max depth of 4



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.835714  0.914062  0.873134  384.000000
1              0.837438  0.711297  0.769231  239.000000
accuracy       0.836276  0.836276  0.836276    0.836276
macro avg      0.836576  0.812680  0.821183  623.000000
weighted avg   0.836376  0.836276  0.833274  623.000000



Tree with max depth of 3



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.829327  0.898438  0.862500  384.000000
1              0.811594  0.702929  0.753363  239.000000
accuracy       0.823435  0.823435  0.823435    0.823435
macro avg      0.820461  0.800683  0.807932  623.000000
weighted avg   0.822524  0.823435  0.820632  623.000000



Tree with max depth of 3



Minimum samples leaf of 2

              precision    recall  f1-score    support
0              0.829736  0.901042  0.863920  384.00000
1              0.815534  0.702929  0.755056  239.00000
accuracy       0.825040  0.825040  0.825040    0.82504
macro avg      0.822635  0.801985  0.809488  623.00000
weighted avg   0.824288  0.825040  0.822157  623.00000



Tree with max depth of 3



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.830144  0.903646  0.865337  384.000000
1              0.819512  0.702929  0.756757  239.000000
accuracy       0.826645  0.826645  0.826645    0.826645
macro avg      0.824828  0.803287  0.811047  623.000000
weighted avg   0.826065  0.826645  0.823682  623.000000



Tree with max depth of 3



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.827751  0.901042  0.862843  384.000000
1              0.814634  0.698745  0.752252  239.000000
accuracy       0.823435  0.823435  0.823435    0.823435
macro avg      0.821193  0.799893  0.807548  623.000000
weighted avg   0.822719  0.823435  0.820417  623.000000



Tree with max depth of 3



Minimum samples leaf of 5

              precision    recall  f1-score    support
0              0.826603  0.906250  0.864596  384.00000
1              0.821782  0.694561  0.752834  239.00000
accuracy       0.825040  0.825040  0.825040    0.82504
macro avg      0.824193  0.800405  0.808715  623.00000
weighted avg   0.824754  0.825040  0.821721  623.00000



Tree with max depth of 2



Minimum samples leaf of 1

              precision    recall  f1-score     support
0              0.814815  0.859375  0.836502  384.000000
1              0.752294  0.686192  0.717724  239.000000
accuracy       0.792937  0.792937  0.792937    0.792937
macro avg      0.783554  0.772784  0.777113  623.000000
weighted avg   0.790830  0.792937  0.790936  623.000000



Tree with max depth of 2



Minimum samples leaf of 2

              precision    recall  f1-score     support
0              0.814815  0.859375  0.836502  384.000000
1              0.752294  0.686192  0.717724  239.000000
accuracy       0.792937  0.792937  0.792937    0.792937
macro avg      0.783554  0.772784  0.777113  623.000000
weighted avg   0.790830  0.792937  0.790936  623.000000



Tree with max depth of 2



Minimum samples leaf of 3

              precision    recall  f1-score     support
0              0.814815  0.859375  0.836502  384.000000
1              0.752294  0.686192  0.717724  239.000000
accuracy       0.792937  0.792937  0.792937    0.792937
macro avg      0.783554  0.772784  0.777113  623.000000
weighted avg   0.790830  0.792937  0.790936  623.000000



Tree with max depth of 2



Minimum samples leaf of 4

              precision    recall  f1-score     support
0              0.814815  0.859375  0.836502  384.000000
1              0.752294  0.686192  0.717724  239.000000
accuracy       0.792937  0.792937  0.792937    0.792937
macro avg      0.783554  0.772784  0.777113  623.000000
weighted avg   0.790830  0.792937  0.790936  623.000000



Tree with max depth of 2



Minimum samples leaf of 5

              precision    recall  f1-score     support
0              0.814815  0.859375  0.836502  384.000000
1              0.752294  0.686192  0.717724  239.000000
accuracy       0.792937  0.792937  0.792937    0.792937
macro avg      0.783554  0.772784  0.777113  623.000000
weighted avg   0.790830  0.792937  0.790936  623.000000

In [27]:
seed = 42
train_accuracy = []
val_accuracy = []
depth = []
samples = []

for i in reversed(range(2, 6)):

    for n in range(1, 6):

        rf = RandomForestClassifier(min_samples_leaf=n, max_depth=i, random_state = seed)
    
        rf.fit(X_train, y_train)
    
        depth.append(i)
    
        samples.append(n)
    
        train_accuracy.append(rf.score(X_train, y_train))
    
        val_accuracy.append(rf.score(X_val, y_val))

In [30]:
r_forest = pd.DataFrame({'min_samples_leaf' : samples,
                        'train_accuracy' : train_accuracy,
                        'val_accuracy' : val_accuracy,
                        'max_depth' : depth,})
r_forest

    min_samples_leaf  train_accuracy  val_accuracy  max_depth
0                  1        0.850722      0.858209          5
1                  2        0.850722      0.858209          5
2                  3        0.849117      0.858209          5
3                  4        0.849117      0.850746          5
4                  5        0.845907      0.858209          5
5                  1        0.839486      0.843284          4
6                  2        0.839486      0.843284          4
7                  3        0.839486      0.843284          4
8                  4        0.834671      0.843284          4
9                  5        0.836276      0.843284          4
10                 1        0.823435      0.843284          3
11                 2        0.825040      0.835821          3
12                 3        0.826645      0.828358          3
13                 4        0.823435      0.828358          3
14                 5        0.825040      0.843284          3
15                 1        0.792937      0.813433          2
16                 2        0.792937      0.813433          2
17                 3        0.792937      0.813433          2
18                 4        0.792937      0.813433          2
19                 5        0.792937      0.813433          2

5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?<br>

In [31]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

Accuracy of Random Forest classifier on training set: 0.79
Accuracy of Random Forest classifier on validation set: 0.81

## Adam direcetd:

In [ ]:
param_grid = {
    'max_depth': range(2, 22),
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(RandomForestClassifier(random_state=seed), param_grid, cv=5)
grid_search.fit(X_train, y_train)

rf = grid_search.best_estimator_

print(param_grid, '\n\n')
print(rf)

In [ ]:
print('Accuracy of Random Forest classifier on training set: {:.2f}'
      .format(rf.score(X_train, y_train)))

print('Accuracy of Random Forest classifier on validation set: {:.2f}'
      .format(rf.score(X_val, y_val)))

<br>After making a few models, which one has the best performance (or closest metrics) on both train and validate?
    - write in markdown

###    **Takeaway(Conclusion):**
I generated 20 models when i incremented the depth and decremented the min_samples. I found that when the min_sample leaf reached 1 and the max_depth reached 5 the model generalized well and performed best when calling the accuracy rate for both train and validate.